<%= partial(:header) %>

  	<body onkeyup="onButton()">

   <%= partial(:titlebar) %>

    <div class="container">

      <%= partial(:hero) %>

      <!-- Example row of columns -->
      <div class="row">
        <div class="well span3">
          <h2>Marathon Plan</h2>
			<p>
				Please enter your planned marathon date :
			</p>
			<p>
				<input type="text" id="datepicker">
			</p>
			<p>
				Please enter your 5km time trial result :
			</p>
			<p>
				<select name="minute" id="minute" class="span1">
					<% (15..29).each do |minute| %>
					<option value="<%= minute %>"><%= minute %></option>
					<% end %>
				</select> minutes
		 
				<select name="second" id="second" class="span1">
					<% ((0..59).select {|x| (x % 5) ==0}).each do |second| %>
					<option value="<%= second %>"><%= second %></option>
					<% end %>
				</select> seconds
			</p>
			<button type="button" class="btn" onclick="create_plan()">Create my plan &raquo;</button>
        </div>
        <div class="span4">
          <h2>Fun Run</h2>
           <p>Training for a big running event does not have to be boring. The RunnerGoGo plans are designed to be interesting and effective.  Mixed mode trainings allow for reduced training times, reduced injuries and proven results. </p>
          <p><a class="btn" href="/about">Learn more &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Upcoming events</h2>
          <p>Check out <a href="http://marathons.ahotu.com/calendar">ahotu.com</a> for a great marathon calendar.</p>

          <p>
			<a href="http://marathons.ahotu.com">
		  		<img src="http://s3.amazonaws.com/marathons/media/22/medium/ahotu_marathons_horizontal_black.png" alt="Marathons Calendar">
			</a>
		</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Rhys Campbell 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
	$(function() {
			$("#datepicker").datepicker({ defaultDate: + (7 * 16) }); //default to 16 weeks
			var date = $("#datepicker").datepicker("getDate");
			$("#datepicker").datepicker("setDate", date);
	});
	function onButton()
	{
		if (event.keyCode == 13) 
		{
			create_plan();
		}
	}
	function create_plan()
	{
		var minDropDown = document.getElementById("minute");
		var minutes = minDropDown.options[minDropDown.selectedIndex].value;
		var secDropDown = document.getElementById("second");
		var seconds = secDropDown.options[secDropDown.selectedIndex].value;
		
		var date = $("#datepicker").datepicker("getDate");
		var year = date.getFullYear();
		var month = date.getMonth();
		var day = date.getDate();
		var href = "./racedate/" + day + "-" + month + "-" + year + "/fivekmtime/" + minutes + "m" + seconds + "s";
		document.location.href=href;
	}
	</script>

<%= partial(:footer) %>
