    <div class="container">

      <%= partial(:hero, {:buttons => [Button.new("get_started", "Get started &raquo;")] }) %>

      <!-- Example row of columns -->
      <div class="row">
        <div class="well span3">
          <section id="plan">
			<h2>Training Plan</h2>
			<p>
				Please enter your planned race date :
			</p>
			<p>
				<input type="text" id="datepicker" class="span3">
			</p>
			<p>
				Please enter your 5km time trial result :
			</p>
			<p>
				<select name="minute" id="minute" class="span1">
					<% (15..29).each do |minute| %>
					<option value="<%= minute %>"><%= minute %></option>
					<% end %>
				</select> minutes
				<select name="second" id="second" class="span1">
					<% ((0..59).select {|x| (x % 5) ==0}).each do |second| %>
					<option value="<%= second %>"><%= second %></option>
					<% end %>
				</select> seconds
			</p>
			
			<div class="btn-group">
			          <a class="btn btn-primary" id="marathon_create" href="#"> Create marathon plan</a>
			          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a id="half_marathon_create" href="#"> Create half marathon plan</a></li>
			           <!-- <li><button id="ten_km_create"> Create 10km plan</button></li> -->
			          </ul>
			        </div>
			
          </section>
		</div>
        <div class="span4">
          <h2>Fun Run</h2>
           <p>Training for a big running event does not have to be boring. The RunnerGoGo plans are designed to be interesting and effective.  Mixed mode trainings allow for reduced training times, reduced injuries and proven results. </p>
          <p><a class="btn" href="/about">Learn more &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Upcoming events</h2>
          <p>Check out <a href="http://marathons.ahotu.com/calendar">ahotu.com</a> for a great marathon calendar.</p>

          <p>
			<a href="http://marathons.ahotu.com">
		  		<img src="http://s3.amazonaws.com/marathons/media/22/medium/ahotu_marathons_horizontal_black.png" alt="Marathons Calendar">
			</a>
		</p>
        </div>
      </div>

    <%= partial(:footer) %>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
	$(function() {
		setup_datepicker()
		setup_timedefault()
		$("#marathon_create").click(create_marathon_plan)
		$("#half_marathon_create").click(create_half_marathon_plan)
		$("#get_started").click( function(){ $("#datepicker").focus() })
	});
	function setup_datepicker()
	{
		$("#datepicker").datepicker({ defaultDate: + (7 * 16) }); //default to 16 weeks
		var date = $("#datepicker").datepicker("getDate");
		$("#datepicker").datepicker("setDate", date);
	}
	function setup_timedefault()
	{
		var index = Math.floor($("#minute").children().size()/2)
		$('#minute :nth-child(' + index + ')').attr('selected', 'selected')
	}
	function create_marathon_plan()
	{
		create_plan("marathon")
	}
	function create_half_marathon_plan()
	{
		create_plan("halfmarathon")
	}
	
	function create_plan(base_url)
	{
		//TODO - why is this not jquery like the rest of the js code
		var minDropDown = document.getElementById("minute");
		var minutes = minDropDown.options[minDropDown.selectedIndex].value;
		var secDropDown = document.getElementById("second");
		var seconds = secDropDown.options[secDropDown.selectedIndex].value;
	
		var date = $("#datepicker").datepicker("getDate");
		if(date === null)
		{
			//TODO - set focus on the date picker
			return; //
		}
		var year = date.getFullYear();
		var month = date.getMonth() + 1;//http://www.w3schools.com/jsref/jsref_getmonth.asp
		var day = date.getDate();
		var href = "./" + base_url + "/" + day + "-" + month + "-" + year + "/fivekmtime/" + minutes + "m" + seconds + "s";
		document.location.href=href;
	}
	</script>
