<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Your Training Plan</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<h1>
			Your training plan
		</h1>
		<h3>
			Marathon date : <%= @runnerdata.race_date.strftime('%a %d %b %Y') %> 
		</h3>
		<table>
			<thead>
				<th>
					Marathon Pace
				</th>
				<th>
					Long Tempo Pace
				</th>
				<th>
					Medium Tempo Pace
				</th>
				<th>
					Short Tempo Pace
				</th>
				<th>
					Easy Pace 
				</th>
			</thead>
			<tr>
				<td>
					<%= @runnerdata.pace.marathon_pace.strftime("%M:%S")%>
				</td>
				<td>
					<%= @runnerdata.pace.long.strftime("%M:%S")%>
				</td>
				<td>
					<%= @runnerdata.pace.medium.strftime("%M:%S")%> 
				</td>
				<td>
					<%= @runnerdata.pace.short.strftime("%M:%S")%>
				</td>
				<td>
					<%= @runnerdata.pace.easy.strftime("%M:%S")%> 
				</td>
			</tr>
			<tfoot>
				<th colspan="5">
					Times are based on the pace of a 5km race at the given pace <%= @runnerdata.five_km_pace.strftime("%M:%Ss") %> per km
				</th>
			</tfoot>
		</table>
		
		<table>
			<thead>
				<th>
					Week (ending)
				</th>
				<% @runnerdata.session_definitions.each do |definition| %>
				<th>
					<%= definition %>
				</th>
				<% end %>
			</thead>
			<% @runnerdata.weeks.each do |week| %>
			<tr>
				<td>
					Week <%= week.week_number %><br/>
					(<%= week.week_ended.strftime('%d %b %Y') %>)
				</td>
				<% week.sessions.each do |session| %>
				<td>
					<%= session.join("<br/>") %>
				</td>
				<% end %>
			</tr>
			<% end %>
			<tfoot>
				<th colspan="4">
					Times are based on the pace of a 5km race at the given pace <%= @runnerdata.five_km_pace.strftime("%M:%Ss") %> per km
				<br/>
					Predicted marathon time is <%= @runnerdata.marathon_prediction.strftime("%H:%M:%S") %>
				</th>
			</tfoot>
		</table>
	</body>
</html>
