    <div class="container">

      <%= partial(:"partials/hero", {:buttons => [Button.new("get_started", "Get started &raquo;")] }) %>

      <div class="row">
        <div class="well span3">
          <section id="plan">
			<h2>Training Plan</h2>
			<!-- TODO ensure labels keep with input -->
			<p>
				Please enter your planned race date
			</p>
			<p>
				<input type="text" id="datepicker" class="span3">
			</p>
			<p>
				Please enter your 5km time trial result
			</p>
			<p>
				<select name="minute" id="minute" class="span1">
					<% (15..29).each do |minute| %>
					<option value="<%= minute %>"><%= minute %></option>
					<% end %>
				</select> minutes
				<select name="second" id="second" class="span1">
					<% ((0..59).select {|x| (x % 5) ==0}).each do |second| %>
					<option value="<%= second %>"><%= second %></option>
					<% end %>
				</select> seconds
			</p>
			
			<div class="btn-group">
			          <a class="btn btn-primary" id="marathon_create" href="#"> Create marathon plan</a>
			          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a id="half_marathon_create" href="#"> Create half marathon plan</a></li>
			           <!-- <li><button id="ten_km_create"> Create 10km plan</button></li> -->
			          </ul>
			        </div>
			
          </section>
		</div>
        <div class="span4">
          <h2>Fun Run</h2>
           <p>Training for a big running event does not have to be boring. The RunnerGoGo plans are designed to be interesting and effective.  Mixed mode trainings allow for reduced training times, reduced injuries and proven results. </p>
          <p><a class="btn" href="/about">Learn more &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Upcoming events</h2>
          <p>Check out <a href="http://marathons.ahotu.com/calendar">ahotu.com</a> for a great marathon calendar.</p>

          <p>
			<a href="http://marathons.ahotu.com">
		  		<img src="http://s3.amazonaws.com/marathons/media/22/medium/ahotu_marathons_horizontal_black.png" alt="Marathons Calendar">
			</a>
		</p>
        </div>
      </div>

    <%= partial(:"partials/footer") %>

    </div> <!-- /container -->
	<script src="/js/home.js"></script>
	<script>
	$(function() {
		$("#home_nav").addClass("active");
	});
	</script>
